#facebox .b {
  background:url(images/b.png);
}

#facebox .tl {
  background:url(images/tl.png);
}

#facebox .tr {
  background:url(images/tr.png);
}

#facebox .bl {
  background:url(images/bl.png);
}

#facebox .br {
  background:url(images/br.png);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
}

#facebox table {
  border-collapse: collapse;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  /*padding: 10px;*/
  background: #fff;
  width: 370px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}



.gradBg {background:url(images/gradBg.gif) repeat-x left top; padding:0 6px 7px 0; color:#FFF; font-weight:bold; background-color:#333; font-size:24px; font-weight:normal}
.gradBg a {font-size:24px; font-weight:normal; color:#ffff99}
.gradBg a:hover {text-decoration:none}
.gradBg a span {color:#fff}
.gradBg a span label {text-decoration:underline; color:#ffff99}
.bg{background:#f3f3f3; padding:5px}
.gradBtnBg {background:url(images/gradBg.gif) repeat-x left top;color:#FFF; font-weight:bold; border:1px solid #666}

div.error{font-family:Arial, Verdana, Helvetica, sans-serif; color:#FF0707;}
